<h1>
  {{title}}
</h1>

<form [formGroup]="templateForm">
  <app-markdown-editor formControlName="template2" [moduleConfig]="quillConfig" #markdownInstance
    (onContentChanged)="handleContentChange($event)"
    (onSelectionChanged)="handleSelectionChange ($event)"></app-markdown-editor>

  <!-- format="text"
<quill-editor  formControlName="template2"  [modules]="{toolbar: true}"   (onContentChanged)="handleContentChange($event)"   (onSelectionChanged)="handleContentChange ($event)">
</quill-editor>


<quill-view [content]="'# HEader text'"></quill-view> -->
</form>

<button (click)="test()">test</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Variables insertion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div (click)="closeTest('one')">One</div>
    <div (click)="closeTest('two')">Two</div>
    <div (click)="mentionTemp()">Variable 3 as a Blot</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>